<div class="hero-unit">
	<h1>howdy, stranger!</h1>
	<p>
		This is my practice applications for 
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</p>
	<p>
		Right now I am trying to figure out how to customize my application using this weird style sheet system instead of straight up css. This is confusing to me because working with this mix of bootstrap and sass and whatever is going on seems like it ends up with a lot of extra code that doesn't have much rhyme or reason to it. I am hopeful that it will become clearer the more I work with it. If only I could find some definitive documentation on how it works/what the variables are/how to create variables. The bootstrap customization page is helpful but it seems restrictive.
	</p>
	<p>I guess I will wait and see how it works</p>
	<p>/end rant</p>
	<p>ps this is just some placeholder text to play with</p>
	<p>Oh look! A button!</p>
	<p>
		<%= link_to "A Button!", "#", class: 'btn btn-info' %>
	</p>
</div>

